<!DOCTYPE html>
<html>
<head>
	<% if(isLogin) {%>
	<title><%= user.username %>のnote</title>
	<% }else{ %>
	<title>我のnote</title>
	<%}%>
	<meta charset="utf-8">
	
	<link rel="stylesheet" type="text/css" href="./css/icon-note/iconfont.css">
</head>
<body>

<nav id="nav">
	<div class="add-note"><i class="iconfont icon-add"></i></div>
	<div class="change-logo">ChangeLogoColor</div>
	<div class="change-doll">ChangeDoll</div>
	<div class="music">MusicOn</div>
	<div class="login">
		<% if(isLogin){ %>
			<div class="lgin"><img src="<%= user.avatar %>"></div>
			<div class="lgin"><span title="<%= user.username %>"><%= user.username %></span></div>
			<div class="lgin"><span class="line"> | </span></div>
			<div class="lgin"><a href="/auth/logout">注销</a></div>
		<% }else{ %>
			<a href="/auth/github" class="login-github"><i class="iconfont icon-github"></i></a>
			<a href="/auth/normal" class="login-normal">饥人谷登陆</a>
		<% } %>
	</div>
</nav>

<div id="content"></div>

<script src="./css/icon-note/iconfont.js"></script>
<script src="./javascripts/bundle.js"></script>
</body>
</html>
